@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=Inter:wght@300;400;500&display=swap');
@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
}
